
<app-modal>
  <ng-container header>{{ "noteType" | translate}}</ng-container>

  <ng-container body>
    <form [formGroup]="noteTypeForm" (ngSubmit)="onFormSubmit()" id="ngForm">
      <div mat-dialog-content>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label">{{ "name" | translate}} <span class="text-danger">*</span></label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="name" [ngClass]="{'is-invalid': fc['name'].invalid && isSubmitted}">
            <small class="invalid-feedback fst-italic" *ngIf="fc['name'].errors?.['required']">This field is required</small>
            <div class="invalid-feedback" *ngIf="fc['name'].errors?.['minlength']">Name must be at least 3 characters long</div>
            <div class="invalid-feedback" *ngIf="fc['name'].errors?.['serverError']">
              {{ fc['name'].errors?.['serverError'] }}
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label">{{ "weighting" | translate}} </label>
            <input class="form-control form-control-sm" type="number" placeholder="Ex. A" formControlName="weighting" [ngClass]="{'is-invalid': fc['name'].invalid && isSubmitted}">
              {{ fc['name'].errors?.['serverError'] }}
            </div>
          </div>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label">{{ "speciality" | translate}}
              <!-- <span class="text-danger">*</span> -->
            </label>
            <ng-select
              [items]="specialityList"
              bindLabel="name"
              bindValue="id"
              placeholder="Choose speciality"
              formControlName="speciality"
              [ngClass]="{'is-invalid': fc['speciality'].invalid && isSubmitted}"
              [(ngModel)]="specialityListSelect">
            </ng-select>
            <!-- <div class="invalid-feedback" *ngIf="fc['speciality'].errors?.['required']">This field is required</div> -->
          </div>

          <div class="col-md-6">
            <label class="form-label">{{ "level" | translate}} <span class="text-danger">*</span></label>
            <ng-select
              [items]="levelList"
              bindLabel="name"
              bindValue="id"
              placeholder="Choose level"
              formControlName="level"
              [ngClass]="{'is-invalid': fc['level'].invalid && isSubmitted}"
              [(ngModel)]="levelListSelect">
            </ng-select>
            <div class="invalid-feedback" *ngIf="fc['level'].errors?.['required']">This field is required</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label">{{ "position" | translate}} <span class="text-danger">*</span> </label>
            <input class="form-control form-control-sm" type="number" placeholder="Ex. A" formControlName="position" [ngClass]="{'is-invalid': fc['position'].invalid && isSubmitted}">
            <small class="invalid-feedback fst-italic" *ngIf="fc['position'].errors?.['required']">This field is required</small>
            <div class="invalid-feedback fst-italic" *ngIf="fc['position'].errors?.['serverError']">
              {{ fc['code'].errors?.['serverError'] }}
            </div>
          </div>

        </div>
      </div>

    </form>

  </ng-container>

  <button footer form="ngForm" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{data ? edit : create}}</ng-container>
    <ng-template #isSaving>
      {{ "Submitting" | translate}} ...
    </ng-template>
  </button>


</app-modal>








