<div class="modal-header header-card-modal" tabindex="-1">
  <h5 class="modal-title text-white" id="exampleModalLabel">
    {{ title }}
    <ng-content select="[header]"></ng-content>
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>

<div class="modal-body">
  <ng-content select="[body]"></ng-content>
</div>

<!--style="background: #f5f5f5;"-->
<div class="modal-footer" style="margin-top: -15px;">
  <button type="button" class="btn btn-sm btn-secondary" (click)="modalRef.close()">
    {{ "Close" | translate}}
  </button>
  <ng-content select="[footer]"></ng-content>
</div>


