
<app-modal>
  <ng-container header>Menu</ng-container>

  <ng-container body>
    <form [formGroup]="menuForm" (ngSubmit)="onFormSubmit()" id="ngForm">
      <div mat-dialog-content>

        <div class="row">
          <div class="col-md-12">
            <label class="form-label">Name <span class="text-danger">*</span></label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. Security" formControlName="name" [ngClass]="{'is-invalid': fc['name'].invalid && isSubmitted}">
            <small class="invalid-feedback fst-italic" *ngIf="fc['name'].errors?.['required']">This field is required</small>
            <div class="invalid-feedback" *ngIf="fc['name'].errors?.['minlength']">Name must be atleast 3 caracters long</div>
            <div class="invalid-feedback" *ngIf="fc['name'].errors?.['serverError']">
              {{ fc['name'].errors?.['serverError'] }}
            </div>
            <div *ngIf="fc['name'].errors?.['pattern']">
              Le champ ne doit pas être vide.
            </div>
          </div>

<!--          <div class="col-md-6">-->
<!--            <label class="form-label">Module <span class="text-danger">*</span></label>-->
<!--            <ng-select-->
<!--              [items]="modules"-->
<!--              bindLabel="name"-->
<!--              bindValue="id"-->
<!--              placeholder="Choose an module"-->
<!--              formControlName="module"-->
<!--              [ngClass]="{'is-invalid': fc['module'].invalid && isSubmitted}"-->
<!--              [(ngModel)]="moduleSelected">-->
<!--            </ng-select>-->
<!--            <div class="invalid-feedback" *ngIf="fc['module'].errors?.['required']">This field is required</div>-->
<!--            <div class="invalid-feedback" *ngIf="fc['module'].errors?.['serverError']">-->
<!--              {{ fc['module'].errors?.['serverError'] }}-->
<!--            </div>-->
<!--          </div>-->
        </div>


        <div class="row">
          <div class="col-md-12">
            <h5>Config</h5>
            <ngx-treeview [config]="config" [items]="items" (selectedChange)="onSelectedChange($event)"
                          formControlName="permission"></ngx-treeview>
          </div>
        </div>


      </div>

    </form>

  </ng-container>

  <button footer form="ngForm" (click)="changeVal(0)" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{data ? update : create}}</ng-container>
    <ng-template #isSaving>
      {{ "Submitting" | translate}} ...
    </ng-template>
  </button>

  <button footer form="ngForm" (click)="changeVal(1)" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{ data ? updateAndNew : createAndNew }}</ng-container>
    <ng-template #isSaving>
      {{ "Acceptance" | translate}} ...
    </ng-template>
  </button>


</app-modal>








