
<app-modal>
  <ng-container header>{{ "speciality" | translate}}</ng-container>

  <ng-container body>
    <form [formGroup]="specialityForm" (ngSubmit)="onFormSubmit()" id="ngForm">
      <div mat-dialog-content>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label">{{ "code" | translate}} <span class="text-danger">*</span></label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="code" [ngClass]="{'is-invalid': fc['code'].invalid && isSubmitted}">
            <small class="invalid-feedback fst-italic" *ngIf="fc['code'].errors?.['required']">This field is required</small>
            <div class="invalid-feedback" *ngIf="fc['code'].errors?.['minlength']">Name must be at least 3 characters long</div>
            <div class="invalid-feedback" *ngIf="fc['code'].errors?.['serverError']">
              {{ fc['name'].errors?.['serverError'] }}</div>
          </div>
          <div class="col-md-6">
            <label class="form-label">{{ "name" | translate}} <span class="text-danger">*</span></label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="name" [ngClass]="{'is-invalid': fc['name'].invalid && isSubmitted}">
            <small class="invalid-feedback fst-italic" *ngIf="fc['name'].errors?.['required']">This field is required</small>
            <div class="invalid-feedback" *ngIf="fc['name'].errors?.['minlength']">Name must be at least 3 characters long</div>
            <div class="invalid-feedback" *ngIf="fc['name'].errors?.['serverError']">
              {{ fc['name'].errors?.['serverError'] }}
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-md-6">
            <label class="form-label">{{ "program" | translate}}</label>
            <ng-select
              [items]="programList"
              bindLabel="name"
              bindValue="id"
              placeholder="Choose school"
              formControlName="program"
              [ngClass]="{'is-invalid': fc['program'].invalid && isSubmitted}"
              [(ngModel)]="programListSelect">
            </ng-select>
            </div>

            <div class="col-md-6">
                <label class="form-label">{{ "cycle" | translate}} <span class="text-danger">*</span></label>
                <ng-select
                  [items]="cycleList"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Choose school"
                  formControlName="cycle"
                  [ngClass]="{'is-invalid': fc['cycle'].invalid && isSubmitted}"
                  [(ngModel)]="cycleListSelect">
                </ng-select>
                <small class="invalid-feedback fst-italic" *ngIf="fc['cycle'].errors?.['required']">This field is required</small>
                <div class="invalid-feedback" *ngIf="fc['cycle'].errors?.['serverError']">
                  {{ fc['cycle'].errors?.['serverError'] }}
                </div>
            </div>
          </div>

          <div class="row">
              <div class="col-md-6">
                <label class="form-label">{{ "minimumLevel" | translate}} <span class="text-danger">*</span></label>
                <ng-select
                  [items]="level1List"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Choose school"
                  formControlName="minimumLevel"
                  [ngClass]="{'is-invalid': fc['minimumLevel'].invalid && isSubmitted}"
                  [(ngModel)]="level1ListSelect">
                </ng-select>
                <small class="invalid-feedback fst-italic" *ngIf="fc['minimumLevel'].errors?.['required']">This field is required</small>
                <div class="invalid-feedback" *ngIf="fc['minimumLevel'].errors?.['serverError']">
                  {{ fc['minimumLevel'].errors?.['serverError'] }}
                </div>
              </div>

              <div class="col-md-6">
                  <label class="form-label">{{ "maximumLevel" | translate}} <span class="text-danger">*</span></label>
                  <ng-select
                    [items]="level2List"
                    bindLabel="name"
                    bindValue="id"
                    placeholder="Choose school"
                    formControlName="maximumLevel"
                    [ngClass]="{'is-invalid': fc['maximumLevel'].invalid && isSubmitted}"
                    [(ngModel)]="level2ListSelect">
                  </ng-select>
                  <small class="invalid-feedback fst-italic" *ngIf="fc['maximumLevel'].errors?.['required']">This field is required</small>
                  <div class="invalid-feedback" *ngIf="fc['maximumLevel'].errors?.['serverError']">{{ fc['maximumLevel'].errors?.['serverError'] }}</div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-6">
                <label class="form-label">{{ "simpleHourlyRate" | translate}}</label>
                <input class="form-control form-control-sm" type="number" placeholder="Ex. A" formControlName="simpleHourlyRate">
              </div>
              <div class="col-md-6">
                <label class="form-label">{{ "multipleHourlyRate" | translate}}</label>
                <input class="form-control form-control-sm" type="number" placeholder="Ex. A" formControlName="multipleHourlyRate">
              </div>
          </div>
        </div>

    </form>
  </ng-container>
  <button footer form="ngForm" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{data ? edit : create}}</ng-container>
    <ng-template #isSaving>
      {{ "Submitting" | translate}} ...
    </ng-template>
  </button>
</app-modal>








