
<app-modal>
  <ng-container header>{{ "family" | translate}}</ng-container>

  <ng-container body>
    <form [formGroup]="familyForm" (ngSubmit)="onFormSubmit()" id="ngForm">
      <div mat-dialog-content>

        <div class="row">

          <div class="col-md-6">
            <label class="form-label">{{ "name" | translate}} <span class="text-danger">*</span></label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="name" [ngClass]="{'is-invalid': fc['name'].invalid && isSubmitted}">
            <small class="invalid-feedback fst-italic" *ngIf="fc['name'].errors?.['required']">This field is required</small>
            <div class="invalid-feedback" *ngIf="fc['name'].errors?.['minlength']">Name must be at least 3 characters long</div>
            <div class="invalid-feedback" *ngIf="fc['name'].errors?.['serverError']">
              {{ fc['name'].errors?.['serverError'] }}
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label">{{ "address" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="address" [ngClass]="{'is-invalid': fc['address'].invalid && isSubmitted}">
            {{ fc['address'].errors?.['serverError'] }}
          </div>

        </div>

        <div class="row">

          <div class="col-md-6">
            <label class="form-label">{{ "phone" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="phone" [ngClass]="{'is-invalid': fc['phone'].invalid && isSubmitted}">
            {{ fc['phone'].errors?.['serverError'] }}
          </div>

          <div class="col-md-6">
            <label class="form-label">{{ "email" | translate}} </label>
            <input class="form-control form-control-sm" type="email" placeholder="Ex. A" formControlName="email" [ngClass]="{'is-invalid': fc['email'].invalid && isSubmitted}">
            {{ fc['email'].errors?.['serverError'] }}
          </div>

        </div>

        <div class="row">

          <div class="col-md-6">
            <label class="form-label">{{ "fatherName" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="fatherName" [ngClass]="{'is-invalid': fc['fatherName'].invalid && isSubmitted}">
            <div class="invalid-feedback" *ngIf="fc['fatherName'].errors?.['serverError']">
              {{ fc['fatherName'].errors?.['serverError'] }}
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label">{{ "fatherPhone" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="fatherPhone" [ngClass]="{'is-invalid': fc['fatherPhone'].invalid && isSubmitted}">
            <div class="invalid-feedback" *ngIf="fc['fatherPhone'].errors?.['serverError']">
              {{ fc['fatherPhone'].errors?.['serverError'] }}
            </div>
          </div>


          </div>

          <div class="row">

            <div class="col-md-6">
              <label class="form-label">{{ "fatherProfession" | translate}} </label>
              <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="fatherProfession" [ngClass]="{'is-invalid': fc['fatherProfession'].invalid && isSubmitted}">
              <div class="invalid-feedback" *ngIf="fc['fatherProfession'].errors?.['serverError']">
                {{ fc['fatherProfession'].errors?.['serverError'] }}
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "motherName" | translate}} </label>
              <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="motherName" [ngClass]="{'is-invalid': fc['motherName'].invalid && isSubmitted}">
              <div class="invalid-feedback" *ngIf="fc['motherName'].errors?.['serverError']">
                {{ fc['motherName'].errors?.['serverError'] }}
              </div>

          </div>

        </div>

          <div class="row">

            <div class="col-md-6">
              <label class="form-label">{{ "motherPhone" | translate}} </label>
              <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="motherPhone" [ngClass]="{'is-invalid': fc['motherPhone'].invalid && isSubmitted}">
              <div class="invalid-feedback" *ngIf="fc['motherPhone'].errors?.['serverError']">
                {{ fc['motherPhone'].errors?.['serverError'] }}
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">{{ "motherProfession" | translate}} </label>
              <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="motherProfession" [ngClass]="{'is-invalid': fc['motherProfession'].invalid && isSubmitted}">
              <div class="invalid-feedback" *ngIf="fc['motherProfession'].errors?.['serverError']">
                {{ fc['motherProfession'].errors?.['serverError'] }}
              </div>

          </div>

        </div>


      </div>

    </form>

  </ng-container>

  <button footer form="ngForm" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{data ? edit : create}}</ng-container>
    <ng-template #isSaving>
      {{ "Submitting" | translate}} ...
    </ng-template>
  </button>


</app-modal>








