
<app-modal-without-footer>
  <ng-container header>{{ "studregistration" | translate}}</ng-container>


  <ng-container body>
    <pre>{{ this.registrationForm.value | json }}</pre>
    <mat-horizontal-stepper  #stepper>
      <mat-step [stepControl]="registrationForm" errorMessage="Fill all required Fields.">
    <form [formGroup]="registrationForm" (submit)="onFormSubmit($event)" id="ngForm">
      <ng-template matStepLabel>Student</ng-template>
      <!-- <div mat-dialog-content> -->
        <h2>STUDENT</h2>
        <hr/>

      <div class="wrapper">
        <div class="overlay" *ngIf="isLoading">
          <div class="spinner-wrapper">
            <mat-card-content style="display: flex; padding: 80px 80px 80px; justify-content: center; align-items: center">
              <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </mat-card-content>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-4">
            <label class="form-label">{{ "year" | translate}} <span class="text-danger"> * </span> </label>
            <ng-select
              [ngClass]="{'is-invalid': fc['year'].invalid && isSubmitted}"
              [items]="yearList"
              bindLabel="year"
              bindValue="id"
              placeholder="Choose year"
              formControlName="year"
              required
              [(ngModel)]="yearSelected"
              (change)="onSelectYear($event)">
            </ng-select>
            <div class="invalid-feedback" *ngIf="fc['year'].errors?.['required']">This field is required</div>
            <div class="invalid-feedback" *ngIf="fc['year'].errors?.['serverError']">
              {{ fc['year'].errors?.['serverError'] }}
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label">{{ "Matricule" | translate}} <span class="text-danger">*</span></label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="matricule" required [ngClass]="{'is-invalid': fc['matricule'].invalid && isSubmitted}">
            <small class="invalid-feedback fst-italic" *ngIf="fc['matricule'].errors?.['required']">This field is required</small>
            <div class="invalid-feedback" *ngIf="fc['matricule'].errors?.['minlength']">Matricule must be at least 3 characters long</div>
            <div class="invalid-feedback" *ngIf="fc['matricule'].errors?.['pattern']">No White Space Allowed</div>
            <div class="invalid-feedback" *ngIf="fc['matricule'].errors?.['serverError']">
              {{ fc['matricule'].errors?.['serverError'] }}
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label">{{ "Other Matricule" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="othermatricule">
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label class="form-label">{{ "Name" | translate}} <span class="text-danger">*</span></label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="name" required [ngClass]="{'is-invalid': fc['name'].invalid && isSubmitted}">
            <small class="invalid-feedback fst-italic" *ngIf="fc['name'].errors?.['required']">This field is required</small>
            <div class="invalid-feedback" *ngIf="fc['name'].errors?.['minlength']">Name must be at least 3 characters long</div>
            <div class="invalid-feedback" *ngIf="fc['name'].errors?.['pattern']">No White Space Allowed</div>
            <div class="invalid-feedback" *ngIf="fc['name'].errors?.['serverError']">
              {{ fc['name'].errors?.['serverError'] }}
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label">Date of Birth <span class="text-danger">*</span></label>
            <input class="form-control form-control-sm" type="date" id="html5-date-input" formControlName="dob" required [ngClass]="{'is-invalid': fc['dob'].invalid && isSubmitted}">
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback" *ngIf="fc['dob'].errors?.['required']">This field is required</div>
          </div>

      
          

          <div class="col-md-4">
            <label class="form-label">{{ "Place of Birth" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="pob">
          </div>

        </div>

        <div class="row">
          <div class="col-md-4">
            <label class="form-label">{{ "Sex" | translate}} </label>
            <ng-select
              [items]="sexList"
              bindLabel="name"
              bindValue="id"
              placeholder="Choose sex"
              formControlName="sex"
              [(ngModel)]="sexSelected"
              (change)="onSelectSex($event)">
            </ng-select>
          </div>

          <div class="col-md-4">
            <label class="form-label">{{ "Country" | translate}} </label>
            <ng-select
              [items]="countryList"
              bindLabel="name"
              bindValue="id"
              placeholder="Choose country"
              formControlName="country"
              [(ngModel)]="countrySelected"
              (change)="onSelectCountry($event)">
            </ng-select>
          </div>

          <div class="col-md-4">
            <label class="form-label">{{ "Region" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="region">
          </div>
        </div>

      <div class="row">
        <div class="col-md-4">
          <label class="form-label">{{ "Religion" | translate}} </label>
          <ng-select
            [items]="religionList"
            bindLabel="name"
            bindValue="id"
            placeholder="Choose religion"
            formControlName="religion"
            [(ngModel)]="religionSelected"
            (change)="onSelectReligion($event)">
          </ng-select>
        </div>

        <div class="col-md-4">
          <label class="form-label">{{ "Student Phone" | translate}} </label>
          <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="studentphone">
        </div>

        <div class="col-md-4">
          <label class="form-label">{{ "Student Email" | translate}} </label>
          <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="studentemail" >
        </div>
      </div>

      <div class="row">
          <div class="col-md-4">
            <label class="form-label">{{ "Father Name" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="fathername" >
          </div>

          <div class="col-md-4">
            <label class="form-label">{{ "Father Phone" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="fatherphone" >
          </div>

          <div class="col-md-4">
            <label class="form-label">{{ "Father Email" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="fatheremail">

          </div>
      </div>

      <div class="row">
          <div class="col-md-4">
            <label class="form-label">{{ "Father Profession" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="fatherprofession" >
          </div>

          <div class="col-md-4">
            <label class="form-label">{{ "Mother Name" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="mothername" >
          </div>

          <div class="col-md-4">
            <label class="form-label">{{ "Mother Phone" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="motherphone" >
          </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <label class="form-label">{{ "Mother Email" | translate}} </label>
          <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="motheremail" >
        </div>

        <div class="col-md-4">
          <label class="form-label">{{ "Mother Profession" | translate}} </label>
          <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="motherprofession" >
        </div>
      <!-- comment -->
        <div class="col-md-4">
          <label class="form-label">{{ "Guardian Name" | translate}} </label>
          <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="guardianname" >
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label class="form-label">{{ "Guardian Phone" | translate}} </label>
          <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="guardianphone" >
        </div>

        <div class="col-md-4">
          <label class="form-label">{{ "Guardian Email" | translate}} </label>
          <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="guardianemail">
        </div>

        <div class="col-md-4">
          <label class="form-label">{{ "Guardian Profession" | translate}} </label>
          <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="guardianprofession" >
        </div>
      </div>
      <br>

      <div>
        <button mat-button matStepperNext form="ngForm" id="1" (click)="onFormSubmit(1)" class="btn btn-sm btn-success" [disabled]="isLoading">Next</button>
      </div>

    </form>

      </mat-step>

<mat-step [stepControl]="registrationForm"  errorMessage="Fill all required Fields.">
<form [formGroup]="registrationForm" (submit)="onFormSubmit($event)" id="ngForm">
  <ng-template matStepLabel>Registration</ng-template>
  <div mat-dialog-content>
<h2>REGISTRATION</h2>
<hr/>

<div class="row">
  <div class="col-md-4">
    <label class="form-label">{{ "Diploma" | translate}} </label>
    <ng-select
      [items]="diplomaList"
      bindLabel="name"
      bindValue="id"
      placeholder="Choose diploma"
      formControlName="diploma"
      [(ngModel)]="diplomaSelected"
      (change)="onSelectDiploma($event)">
    </ng-select>
  </div>

  <div class="col-md-4">
    <label class="form-label">{{ "Speciality" | translate}} </label>
    <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="speciality" >

  </div>

  <div class="col-md-4">
    <label class="form-label">{{ "Center" | translate}} </label>
    <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="center" >

  </div>

</div>


<div class="row">

  <div class="col-md-4">
    <label class="form-label">{{ "Pv Diplome" | translate}} </label>
    <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="pvdiplome" >

  </div>

  <div class="col-md-4">
    <label class="form-label">{{ "Pv Selection" | translate}} </label>
    <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="pvselection">

  </div>


  <div class="col-md-6">
    <label class="form-label">{{ "Average" | translate}} <span class="text-danger">*</span></label>
    <input class="form-control form-control-sm" type="number" placeholder="Ex. A" formControlName="average" required [ngClass]="{'is-invalid': fc['average'].invalid && isSubmitted}">
    <small class="invalid-feedback fst-italic" *ngIf="fc['average'].errors?.['required']">This field is required</small>
    <div class="invalid-feedback" *ngIf="fc['average'].errors?.['serverError']">
      {{ fc['average'].errors?.['serverError'] }}
    </div>
  </div>
</div>
    <div class="row">

  <div class="col-md-4">
    <label class="form-label">{{ "Ranks" | translate}} </label>
    <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="ranks">

  </div>


  <div class="col-md-4">
    <label class="form-label">{{ "School" | translate}} </label>
    <ng-select
      [items]="schoolList"
      bindLabel="name"
      bindValue="id"
      placeholder="Choose school"
      formControlName="school"
      [(ngModel)]="schoolSelected"
      (change)="onSelectSchool($event)">
    </ng-select>
  </div>


  <div class="col-md-4">
    <label class="form-label">{{ "Class" | translate}} </label>
    <ng-select
      [items]="classeList"
      bindLabel="code"
      bindValue="id"
      placeholder="Choose classe"
      formControlName="classe"
      [(ngModel)]="classeSelected"
      (change)="onSelectClasse($event)">
    </ng-select>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <label class="form-label">{{ "Regime" | translate}} </label>
    <ng-select
      [items]="regimeList"
      bindLabel="regime"
      bindValue="id"
      placeholder="Choose regime"
      formControlName="regime"
      [(ngModel)]="regimeSelected"
      (change)="onSelectRegime($event)">
    </ng-select>
  </div>


  <div class="col-md-4">
    <label class="form-label">{{ "Option" | translate}} </label>
    <ng-select
      [items]="optionsList"
      bindLabel="name"
      bindValue="id"
      placeholder="Choose options"
      formControlName="options"
      [(ngModel)]="optionsSelected"
      (change)="onSelectOptions($event)">
    </ng-select>
  </div>


  <div class="col-md-6">
    <label class="form-label">Registration Date <span class="text-danger">*</span></label>
    <input class="form-control form-control-sm" type="date" id="html5-date-input" formControlName="registrationdate" required [ngClass]="{'is-invalid': fc['registrationdate'].invalid && isSubmitted}">
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback" *ngIf="fc['registrationdate'].errors?.['required']">This field is required</div>

  </div>
</div>
    <div class="row">

  <div class="col-md-6" style="font-size: 12px;">
    <mat-radio-group aria-label="Select an option" type="boolean" formControlName="repeating" >
      <mat-label><b>Repeating</b></mat-label>
      <mat-radio-button value="no">No</mat-radio-button>
      <mat-radio-button value="repeat">Repeat</mat-radio-button>
      <mat-radio-button value="triple">Triple</mat-radio-button>
    </mat-radio-group>
    <!-- <div class="invalid-feedback" *ngIf="fc['repeating'].errors?.['required']">This field is required</div> -->
    </div>

  <div class="col-md-6">
    <label class="form-label">{{ "Elements Provided" | translate}} </label>
    <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="elementsprovided">

  </div>

  
    <input class="form-control form-control-sm" type="hidden" placeholder="Ex. A" formControlName="hiddendiploma">
    <input class="form-control form-control-sm" type="hidden" placeholder="Ex. A" formControlName="hiddenyear">
    <input class="form-control form-control-sm" type="hidden" placeholder="Ex. A" formControlName="hiddensex">
    <input class="form-control form-control-sm" type="hidden" placeholder="Ex. A" formControlName="hiddencountry">
    <input class="form-control form-control-sm" type="hidden" placeholder="Ex. A" formControlName="hiddenreligion">
    <input class="form-control form-control-sm" type="hidden" placeholder="Ex. A" formControlName="hiddenschool">
    <input class="form-control form-control-sm" type="hidden" placeholder="Ex. A" formControlName="hiddenclasse">
    <input class="form-control form-control-sm" type="hidden" placeholder="Ex. A" formControlName="hiddenregime">
    <input class="form-control form-control-sm" type="hidden" placeholder="Ex. A" formControlName="hiddenoptions">

</div>

      </div> <br>

      <div>
        <button mat-button matStepperPrevious class="btn btn-sm btn-primary me-1">Back</button>
        <button mat-button matStepperNext form="ngForm" id="2" (click)="onFormSubmit(2)" class="btn btn-sm btn-success">Next</button>
      </div>

    </form>
  </mat-step>

<mat-step>
  <ng-template matStepLabel>Done</ng-template>
  <p>You are now done.</p>
  <mat-list>
    <div class="row">
      <mat-list-item *ngIf="this.data"><strong>Year:</strong> {{ this.editedYear == 1 ? this.registrationForm.value.hiddenyear : (this.data.year ? this.data.year : '' ) }}</mat-list-item>
        <mat-list-item *ngIf="!this.data"><strong>Year:</strong> {{ this.registrationForm.value.hiddenyear }}</mat-list-item>
    </div>

<div class="row">
    <div class="col-md-4"><mat-list-item><strong>Name:</strong> {{ this.registrationForm.value.name }}</mat-list-item></div>
    <div class="col-md-4"><mat-list-item><strong>Matricule:</strong> {{ this.registrationForm.value.matricule }}</mat-list-item></div>
  <div class="col-md-4">
    <mat-list-item><strong>Other Matricule:</strong> {{ this.registrationForm.value.othermatricule }}</mat-list-item>
  </div>
</div>

    <div class="row">
    <div class="col-md-4">
      <mat-list-item><strong>Date of Birth:</strong> {{ this.registrationForm.value.dob }}</mat-list-item>
    </div>
    <div class="col-md-4">
      <mat-list-item><strong>Place of Birth:</strong> {{ this.registrationForm.value.pob }}</mat-list-item>
    </div>
    <div class="col-md-4">
      <mat-list-item *ngIf="this.data"><strong>Sex:</strong> {{ this.editedSex == 1 ? this.registrationForm.value.hiddensex : (this.data.sex ? this.data.sex.name : '' ) }}</mat-list-item>
        <mat-list-item *ngIf="!this.data"><strong>Sex:</strong> {{ this.registrationForm.value.hiddensex }}</mat-list-item>
    </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <mat-list-item *ngIf="this.data"><strong>Country:</strong> {{ this.editedCountry == 1 ? this.registrationForm.value.hiddencountry : (this.data.country ? this.data.country.name : '' )}}</mat-list-item>
        <mat-list-item *ngIf="!this.data"><strong>Country:</strong> {{ this.registrationForm.value.hiddencountry }}</mat-list-item>
      </div>
      <div class="col-md-4">
        <mat-list-item><strong>Region:</strong> {{ this.registrationForm.value.region }}</mat-list-item>
      </div>
      <div class="col-md-4">
        <mat-list-item *ngIf="this.data"><strong>Religion:</strong> {{ this.editedReligion == 1 ? this.registrationForm.value.hiddenreligion : (this.data.religion ? this.data.religion.name : '' ) }}</mat-list-item>
        <mat-list-item *ngIf="!this.data"><strong>Religion:</strong> {{ this.registrationForm.value.hiddenreligion }}</mat-list-item>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-list-item><strong>Student Phone:</strong> {{ this.registrationForm.value.studentphone }}</mat-list-item>
      </div>
      <div class="col-md-4">
        <mat-list-item><strong>Student Email:</strong> {{ this.registrationForm.value.studentemail }}</mat-list-item>
      </div>
      <div class="col-md-4">
        <mat-list-item><strong>Father Name:</strong> {{ this.registrationForm.value.fathername }}</mat-list-item>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4">
          <mat-list-item><strong>Father Email:</strong> {{ this.registrationForm.value.fatheremail }}</mat-list-item>
        </div>
        <div class="col-md-4"><mat-list-item><strong>Father Phone:</strong> {{ this.registrationForm.value.fatherphone }}</mat-list-item></div>
        <div class="col-md-4">
          <mat-list-item><strong>Father Profession:</strong> {{ this.registrationForm.value.fatherprofession }}</mat-list-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-list-item><strong>Mother Name:</strong> {{ this.registrationForm.value.mothername }}</mat-list-item>
        </div>
        <div class="col-md-4">
          <mat-list-item><strong>Mother Email:</strong> {{ this.registrationForm.value.motheremail }}</mat-list-item>
        </div>
        <div class="col-md-4">
          <mat-list-item><strong>Mother Phone:</strong> {{ this.registrationForm.value.motherphone }}</mat-list-item>
        </div>
      </div>
    <div class="row">
      <div class="col-md-4">
        <mat-list-item><strong>Mother Profession:</strong> {{ this.registrationForm.value.motherprofession }}</mat-list-item>
      </div>
      <div class="col-md-4">
        <mat-list-item><strong>Guardian Name:</strong> {{ this.registrationForm.value.guardianname }}</mat-list-item>
      </div>
      <div class="col-md-4">
        <mat-list-item><strong>Guardian Email:</strong> {{ this.registrationForm.value.guardianemail }}</mat-list-item>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <mat-list-item><strong>Guardian Phone:</strong> {{ this.registrationForm.value.guardianphone }}</mat-list-item>
      </div>
      <div class="col-md-4">
        <mat-list-item><strong>Guardian Profession:</strong> {{ this.registrationForm.value.guardianprofession }}</mat-list-item>
      </div>
      <div class="col-md-4">
        <mat-list-item *ngIf="this.data"><strong>Diploma:</strong>  {{ this.editedDiploma == 1 ? this.registrationForm.value.hiddendiploma : (this.data.diploma ? this.data.diploma.name : '' ) }}</mat-list-item>
        <mat-list-item *ngIf="!this.data"><strong>Diploma:</strong> {{ this.registrationForm.value.hiddendiploma }}</mat-list-item>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <mat-list-item><strong>Speciality:</strong> {{ this.registrationForm.value.speciality }}</mat-list-item>
      </div>
      <div class="col-md-4">
        <mat-list-item><strong>Center:</strong> {{ this.registrationForm.value.center }}</mat-list-item>
      </div>

      <div class="col-md-4">
        <mat-list-item><strong>Pv Diplome:</strong> {{ this.registrationForm.value.pvdiplome }}</mat-list-item>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <mat-list-item><strong>Pv Selection:</strong> {{ this.registrationForm.value.pvselection }}</mat-list-item>
      </div>
      <div class="col-md-4">
        <mat-list-item><strong>Average:</strong> {{ this.registrationForm.value.average }}</mat-list-item>
      </div>

      <div class="col-md-4">
        <mat-list-item><strong>Rank:</strong>{{ this.registrationForm.value.ranks }}</mat-list-item>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <mat-list-item *ngIf="this.data"><strong>School:</strong> {{ this.editedSchool == 1 ? this.registrationForm.value.hiddenschool : (this.data.school ? this.data.school.name : '' ) }}</mat-list-item>
        <mat-list-item *ngIf="!this.data"><strong>School:</strong> {{ this.registrationForm.value.hiddenschool }}</mat-list-item>
      </div>
      <div class="col-md-4">
        <mat-list-item *ngIf="this.data"><strong>Class:</strong> {{ this.editedClasse == 1 ? this.registrationForm.value.hiddenclasse : (this.data.classe ? this.data.classe.name : '' ) }}</mat-list-item>
        <mat-list-item *ngIf="!this.data"><strong>Class:</strong> {{ this.registrationForm.value.hiddenclasse }}</mat-list-item>
      </div>

      <div class="col-md-4">
        <mat-list-item *ngIf="this.data"><strong>Regime:</strong> {{ this.editedRegime == 1 ? this.registrationForm.value.hiddenregime : (this.data.regime ? this.data.regime.regime : '' ) }}</mat-list-item>
        <mat-list-item *ngIf="!this.data"><strong>Regime:</strong> {{ this.registrationForm.value.hiddenregime}}</mat-list-item>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <mat-list-item *ngIf="this.data"><strong>Option:</strong> {{ this.editedOptions == 1 ? this.registrationForm.value.hiddenoptions : (this.data.options ? this.data.options.name : '' ) }}</mat-list-item>
        <mat-list-item *ngIf="!this.data"><strong>Option:</strong> {{ this.registrationForm.value.hiddenoptions}}</mat-list-item>
      </div>
      <div class="col-md-4">
        <mat-list-item><strong>Registration Date:</strong> {{ this.registrationForm.value.registrationdate }}</mat-list-item>
      </div>

      <div class="col-md-4">
        <mat-list-item><strong>Repeating:</strong> {{ this.registrationForm.value.repeating }}</mat-list-item>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <mat-list-item><strong>Elements Provided:</strong> {{ this.registrationForm.value.elementsprovided }}</mat-list-item>
      </div>
      <div class="col-md-4">
      </div>

      <div class="col-md-4">
      </div>
    </div>

  </mat-list>
  <div>
    <button mat-button matStepperPrevious class="btn btn-sm btn-primary me-1">Back</button>

    <button mat-button (click)="stepper.reset()" class="btn btn-sm btn-success me-1">Reset</button>

    <button footer form="ngForm" id="3" (click)="onFormSubmit(3)" type="submit" class="btn btn-sm btn-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{data ? edit : create}}</ng-container>
    <ng-template #isSaving>
      {{ "Submitting" | translate}} ...
    </ng-template>
  </button>
  </div>
</mat-step>

  </mat-horizontal-stepper>



  </ng-container>

  <!-- <button footer form="ngForm" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{data ? edit : create}}</ng-container>
    <ng-template #isSaving>
      {{ "Submitting" | translate}} ...
    </ng-template>
  </button> -->


</app-modal-without-footer>









