
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-appli-primary: mat.define-palette(mat.$indigo-palette);
$my-appli-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-appli-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-appli-theme: mat.define-light-theme((
  color: (
    primary: $my-appli-primary,
    accent: $my-appli-accent,
    warn: $my-appli-warn,
  )
));

@import '~material-icons/iconfont/material-icons.css';

@import "~@ng-select/ng-select/themes/default.theme.css";

// regular style toast
@import 'ngx-toastr/toastr';

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions

// if you'd like to use it without importing all of bootstrap it requires
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
// boostrap 5
@import 'ngx-toastr/toastr-bs5-alert';


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($my-appli-theme);

/* You can add global styles to this file, and also import other style files */
//@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
//@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
//@import '../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
//@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
//
//@import '../node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dense-2 {
  @include mat.all-component-densities(-3);
}
.toast{
  opacity: 1!important;
}

@import "spinner";
