
<app-modal>
  <ng-container header>{{ "class_and_room" | translate}}</ng-container>

  <ng-container body>
    <form [formGroup]="schoolclassForm" (ngSubmit)="onFormSubmit()" id="ngForm">
      <div mat-dialog-content>

        <div class="row">
          <div class="col-md-4">
            <label class="form-label">{{ "year" | translate}}</label>
            <ng-select
              [items]="schoolyearList"
              bindLabel="year"
              bindValue="id"
              placeholder="Choose year"
              formControlName="year"
              [(ngModel)]="schoolyearListSelect">
            </ng-select>
          </div>

          <div class="col-md-4">
            <label class="form-label">{{ "Code" | translate}} <span class="text-danger">*</span></label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="code" [ngClass]="{'is-invalid': fc['code'].invalid && isSubmitted}">
            <small class="invalid-feedback fst-italic" *ngIf="fc['code'].errors?.['required']">This field is required</small>
            <div class="invalid-feedback" *ngIf="fc['code'].errors?.['minlength']">code must be at least 1 characters long</div>
            <div class="invalid-feedback" *ngIf="fc['code'].errors?.['serverError']">{{ fc['name'].errors?.['serverError'] }}</div>
          </div>

          <div class="col-md-4">
            <label class="form-label">{{ "description" | translate}} </label>
            <input class="form-control form-control-sm" type="text" placeholder="Ex. A" formControlName="description" >
          </div>

        <div class="row">
          <div class="col-md-6">
            <label class="form-label">{{ "level" | translate}} <span class="text-danger">*</span></label>
            <ng-select
              [items]="levelListFiltered"
              bindLabel="name"
              bindValue="id"
              placeholder="Choose level"
              formControlName="level"
              [ngClass]="{'is-invalid': fc['level'].invalid && isSubmitted}"
              [(ngModel)]="levelListSelect">
            </ng-select>
            <small class="invalid-feedback fst-italic" *ngIf="fc['level'].errors?.['required']">This field is required</small>
            <div class="invalid-feedback fst-italic" *ngIf="fc['level'].errors?.['serverError']">{{ fc['level'].errors?.['serverError'] }}</div>
          </div>

          <div class="col-md-6">
            <label class="form-label">{{ "main_room" | translate}}<span class="text-danger">*</span></label>
            <ng-select
              [items]="roomList"
              bindLabel="name"
              bindValue="id"
              placeholder="Choose mainRoom"
              formControlName="mainRoom"
              [ngClass]="{'is-invalid': fc['mainRoom'].invalid && isSubmitted}"
              [(ngModel)]="roomListSelect">
            </ng-select>
            <small class="invalid-feedback fst-italic" *ngIf="fc['mainRoom'].errors?.['required']">This field is required</small>
            <div class="invalid-feedback fst-italic" *ngIf="fc['mainRoom'].errors?.['serverError']">{{ fc['mainRoom'].errors?.['serverError'] }}</div>
          </div>
        </div>
      </div>
      </div>
    </form>

  </ng-container>

  <button footer form="ngForm" (submit)="onFormSubmit()" type="submit" class="btn btn-sm btn-primary" [disabled]=saving>
    <ng-container *ngIf="!saving; else isSaving">{{data ? edit : create}}</ng-container>
    <ng-template #isSaving>
      {{ "Submitting" | translate}} ...
    </ng-template>
  </button>


</app-modal>








